{
  "openapi": "3.1.0",
  "info": {
    "title": "SnapKit API",
    "description": "Multi-brand thumbnail generator API",
    "version": "1.0.0",
    "contact": {
      "name": "VibeLabs"
    }
  },
  "servers": [
    {
      "url": "https://snapkit.vibery.app",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List all templates",
        "description": "Returns all available templates with their configurations",
        "tags": ["Templates"],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "templates": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Template" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/templates/{templateId}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Get template by ID",
        "tags": ["Templates"],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "example": "goha-agency-split"
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/Template" },
                    {
                      "type": "object",
                      "properties": {
                        "render_url": {
                          "type": "string",
                          "description": "URL to render this template"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/render": {
      "get": {
        "operationId": "render",
        "summary": "Render thumbnail HTML",
        "description": "Returns HTML page with thumbnail for screenshot capture. Use element #thumbnail.",
        "tags": ["Render"],
        "parameters": [
          {
            "name": "t",
            "in": "query",
            "description": "Template ID",
            "schema": { "type": "string" },
            "example": "goha-agency-split"
          },
          {
            "name": "d",
            "in": "query",
            "description": "Saved design ID (alternative to template)",
            "schema": { "type": "string" }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Title text",
            "schema": { "type": "string" },
            "example": "Your Amazing Title"
          },
          {
            "name": "subtitle",
            "in": "query",
            "description": "Subtitle text",
            "schema": { "type": "string" }
          },
          {
            "name": "bg_image",
            "in": "query",
            "description": "Background image URL (overrides template)",
            "schema": { "type": "string" }
          },
          {
            "name": "feature_image",
            "in": "query",
            "description": "Feature image URL (overrides auto-search)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML page with thumbnail",
            "content": {
              "text/html": {
                "schema": { "type": "string" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/auto-thumbnail": {
      "post": {
        "operationId": "autoThumbnail",
        "summary": "Generate thumbnail design",
        "description": "Creates a design and returns render URL. Auto-searches feature image if not provided.",
        "tags": ["Render"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Thumbnail title"
                  },
                  "subtitle": {
                    "type": "string",
                    "description": "Subtitle text"
                  },
                  "template": {
                    "type": "string",
                    "description": "Template ID",
                    "default": "default"
                  },
                  "bg_image": {
                    "type": "string",
                    "description": "Override background image URL"
                  },
                  "feature_image": {
                    "type": "string",
                    "description": "Override feature image URL"
                  },
                  "auto_image": {
                    "type": "boolean",
                    "description": "Enable auto image search",
                    "default": true
                  }
                }
              },
              "example": {
                "title": "Tối ưu content B2B cho AI",
                "subtitle": "Cuộc cách mạng tìm kiếm đa bước",
                "template": "goha-agency-split"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Design created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "design_id": { "type": "string" },
                    "render_url": { "type": "string" },
                    "edit_url": { "type": "string" },
                    "template": { "type": "string" },
                    "brand": { "type": "string" },
                    "layout": { "type": "string" },
                    "size": { "type": "string" },
                    "bg_image": { "type": "string", "nullable": true },
                    "feature_image": { "type": "string", "nullable": true },
                    "search_query": { "type": "string", "nullable": true }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/sizes": {
      "get": {
        "operationId": "listSizes",
        "summary": "List size presets",
        "tags": ["Config"],
        "responses": {
          "200": {
            "description": "List of size presets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SizePreset" }
                }
              }
            }
          }
        }
      }
    },
    "/api/layouts": {
      "get": {
        "operationId": "listLayouts",
        "summary": "List available layouts",
        "tags": ["Config"],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["landscape", "square", "portrait", "wide"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of layouts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Layout" }
                }
              }
            }
          }
        }
      }
    },
    "/api/brands": {
      "get": {
        "operationId": "listBrands",
        "summary": "List all brands",
        "tags": ["Brands"],
        "responses": {
          "200": {
            "description": "List of brands",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Brand" }
                }
              }
            }
          }
        }
      }
    },
    "/api/search/images": {
      "get": {
        "operationId": "searchImages",
        "summary": "Search stock images",
        "description": "Search Pexels for stock images",
        "tags": ["Images"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "example": "technology office"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": { "type": "integer", "default": 10 }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ImageResult" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Template": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "goha-agency-split" },
          "name": { "type": "string", "example": "GOHA Agency Split" },
          "brand": { "type": "string", "example": "goha" },
          "layout": { "type": "string", "example": "agency-split" },
          "size": { "type": "string", "example": "agency-wide" },
          "dimensions": {
            "type": "object",
            "properties": {
              "width": { "type": "integer", "example": 1300 },
              "height": { "type": "integer", "example": 874 }
            }
          },
          "params": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "example": {
              "bg_color": "#0f1629",
              "title_color": "#FFD700"
            }
          },
          "auto_feature_image": { "type": "boolean" }
        }
      },
      "SizePreset": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "agency-wide" },
          "name": { "type": "string", "example": "Agency Wide" },
          "w": { "type": "integer", "example": 1300 },
          "h": { "type": "integer", "example": 874 },
          "category": {
            "type": "string",
            "enum": ["landscape", "square", "portrait", "wide"]
          }
        }
      },
      "Layout": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "categories": {
            "type": "array",
            "items": { "type": "string" }
          },
          "params": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/LayoutParam" }
          },
          "custom": { "type": "boolean" }
        }
      },
      "LayoutParam": {
        "type": "object",
        "properties": {
          "key": { "type": "string" },
          "type": {
            "type": "string",
            "enum": ["text", "color", "image", "select"]
          },
          "label": { "type": "string" },
          "required": { "type": "boolean" },
          "options": {
            "type": "array",
            "items": { "type": "string" }
          },
          "searchable": { "type": "boolean" }
        }
      },
      "Brand": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "colors": {
            "type": "object",
            "properties": {
              "primary": { "type": "string" },
              "secondary": { "type": "string" },
              "accent": { "type": "string" }
            }
          }
        }
      },
      "ImageResult": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "url_thumb": { "type": "string" },
          "url_full": { "type": "string" },
          "photographer": { "type": "string" },
          "source": { "type": "string" }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    { "name": "Templates", "description": "Template management" },
    { "name": "Render", "description": "Thumbnail rendering" },
    { "name": "Config", "description": "Configuration data" },
    { "name": "Brands", "description": "Brand management" },
    { "name": "Images", "description": "Image search" }
  ]
}
